<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">What is Gobeller Pastry?</h5>
                <p>
                    Gobels' is working to deliver traditional Turkish and modern western products to you with the best
                    quality. With our growing team, we are at the top of the new generation patisserie. Our products are
                    100% organic and hygienic.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Address</h5>

                <p> Rumeli Hisarustu, Cami Sk. No:42/A </p>
                <p>Sariyer/Istanbul</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linkedin.com/in/ahmet-karademir-66a53b16a/" class="text-dark"><i
                                class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/besyuzkirk" class="text-dark"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://scontent.fist4-1.fna.fbcdn.net/v/t1.0-9/563549_116969518486757_296427795_n.jpg?_nc_cat=104&ccb=2&_nc_sid=19026a&_nc_ohc=Cvt56Gd5_SAAX_yzF5g&_nc_ht=scontent.fist4-1.fna&oh=7dd2cc21b455d990cdf72e8bccaf4097&oe=6023EAA0"
                           class="text-dark"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/enesfurkannkaya/" class="text-dark"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>